/* TYPES */
body{
    width: 90%;
    position: relative;
    left: 5%;
    font-family: Verdana, monospace;
    text-align:center;
    color: black;
    height: available;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
    text-decoration: black solid 3px underline
}
h4{
    font-size: 30px;
}
p, label, li{
    font-size: 25px;
}
textarea{
    font-size: 20px;
    border-radius: 12px;
    border: black solid 1px;
    background-image: linear-gradient(to bottom right,#168b2e, #d6f5d6);
    margin: 5px;
}
button{
    margin: 10px 5px;
    border: black;
    color: white;
    width: 150px;
    height: 90px;
    border-radius: 24px;
    font-size: 20px;
}
video{
    border: #168b2e solid 5px;
    border-radius: 12px;
    margin-top: 15px;
}

/* EFFECTS */
button:hover {
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#h-recording:target{
    font-size: 25px;
    font-style: oblique;
}
#h-stop:target{
    font-size: 25px;
    font-style: oblique;
}
#not-recording:target{
    font-size: 25px;
    font-style: oblique;
}

/* CLASSES */
.input-text-box{
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 12px;
    border: black 1px solid;
    background-image: linear-gradient(to bottom right,#168b2e, #d6f5d6);
}
.bottom-menu{
    position: sticky;
    bottom: 0;
    background: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    height: 100px;
    margin: 10px 10px 20px;
    padding: 5px;
}
.next-button{
    background-color: #168b2e;
    float: right;
}
.back-button{
    background-color: #ef6d13;
    float: left;
}
.cancel-button{
    background-color: #a51317;
    position: relative;
}
.link{
    color: white;
    text-decoration: none;
    width: 150px;
    height: 90px;
    font-size: 30px;
}
.mode-button{
    width: 50%;
    margin-bottom: 5%;
    position: relative;
    background-image: linear-gradient(to bottom right,#168b2e, #d6f5d6);
    border-radius: 12px;
    border: black 3px groove;
    padding: 10px;
}

/* Index.php */
#about-text{
    position: relative;
    left: 10%;
    width: 80%;
    border: black groove 3px;
    border-radius: 12px;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
    padding: 5px;
}
#begin-button{
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 40px;
}
#begin{
    width: 100%;
    border-radius: 12px;
    border: black groove 3px;
    padding: 15px;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}

/* PersonalDetails.php */
#about-you{
    border: black groove 3px;
    border-radius: 12px;
    padding: 15px 15px 15px 45px;
    text-align: left;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}
#about-your-story{
    border: black groove 3px;
    border-radius: 12px;
    padding: 15px 15px 15px 25px;
    text-align: left;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}
/* Mode.php */
#mode{
    width: 90%;
    position: relative;
    left: 5%;
}

/* RecordVideo.php, RecordAudio.php */
#input-box{
    width: 40%;
    border: black groove 3px;
    float: left;
    border-radius: 12px;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}
#instructions{
    text-align: left;
    position: relative;
    left: 25%;
    width: 50%;
}
#myVidPlayer{
    border: #168b2e solid 5px;
    float: right;
    border-radius: 12px;
}
#status{
    border: #168b2e solid 5px;
    float: right;
    border-radius: 12px;
    padding: 20px;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}
#h-recording{
    color: red;
    font-size: 0;
}
#h-stop{
    color: red;
    font-size: 0;
}
#mediaVideo{
    position: relative;
}
#not-recording{
    font-size: 0;
}
#start-button{
    background-color: #168b2e;
    width: 200px;
}
#stop-button{
    background-color: #a51317;
    width: 200px;
}
#gUMbtn{
    background-color: #168b2e;
    width: 200px;
}
#ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* Summary.php */
#final-message{
    border: black groove 3px;
    width: 40%;
    position: relative;
    left: 30%;
    border-radius: 12px;
    padding: 15px 15px 15px 25px;
    text-align: left;
    background-image: linear-gradient(to bottom left,#168b2e, #d6f5d6);
}
#final{
    width: 90%;
}